:root {
  --grey: #DFE4E8;
  --grey-lighter: #F9FAFB;
  --ink: #212B35; 
  --ink-light: #919EAB;
  /*brand secondary*/
  --teal: #47C1BF;
  --teal-dark: #00848E; 
  /*links*/
  --blue: #007ACE;
  /*brand*/
  --indigo: #5C6AC4;
  /*errors*/
  --red: #ED6347;
  /*success tips*/
  --green: #50B83C;
}

a, p, button, input {
  font-size: 16px;
}

body {
  font-family: 'Avenir', Helvetica, sans-serif;
  background: var(--grey);
  padding: 50px;
  color: var(--ink);
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--grey-lighter)
}

a {
  color: var(--blue);
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 5px darkgrey;
  border: none;
  cursor: pointer;
  background-color: var(--indigo);
}

#about-button {
  background-color: var(--teal);
  position: relative;
  transition: all 0.1s ease-in;
}

#about-button:hover {
  background-color: var(--teal-dark);
}

#about-info {
  background-color: white;
  box-shadow: 2px 2px 10px darkgrey;
  border-radius: 5px;
  padding: 25px;

  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#exit {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

}

#exit:hover {
  color: darkgrey;
}

.form-and-results {
  margin: auto;
  width: 600px;
  text-align: center;
}

/*Functionality Styles*/
#shadowDom {
  display: none;
}

#path {
  list-style: none;
  text-align: left;
}

#path > li {
  transition: all 0.2s ease-in;
}

.next-wiki {
  color: var(--teal-dark);
  font-size: 2em; 
}

.error {
  color: var(--red);
  font-size: 2em;
}

.philosophy-tag {
  color: var(--green);
  font-size: 3em;
}